:root {
  --primary-color: #6e69cc;
  --box-shadow: 0 5px 10px rgba(125, 109, 109, 0.3);
}
@media (max-width: 1000px) {
  .cards {
    margin: 50px 0 !important;
  }
  h1 {
    font-size: 40px !important;
  }
  .hidden-word {
    display: block !important;
  }
  .work-image {
    height: auto !important;
  }
  .about {
    text-align: center;
  }
  .about-heading {
    margin: 0 !important;
  }
  .pf-pic {
    margin-top: 40px !important;
    width: 250px !important;
  }
  .certi-paragraph {
    padding: 0 !important;
  }
}
body {
  color: var(--primary-color);
  /* font-family: "Poppins", sans-serif; */
  line-height: 60px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}
.hero {
  padding: 50px 20px;
}
h1 {
  font-weight: 500 !important;
}
.navigation-link {
  margin-top: 60px;
}
.button {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px;
  border-radius: 4px;
  padding: 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.cards {
  margin: 30px 100px;
}
.cards-bg {
  padding: 10px;
}
.sub-head {
  padding: 10px !important;
}
.work-paragraph {
  padding: 10px;
}
.social-link {
  color: var(--primary-color);
}
.hidden-word {
  display: none;
}
.contact-box {
  max-width: 100% !important;
}
.certificates-page,
.skills-page {
  margin-top: 50px;
}
.contact-page {
  margin-top: 50px;
}
.contact-rows {
  padding-left: 30px;
}
.fa-regular {
  color: var(--primary-color);
}
