:root {
  --primary-color: #7e58de;
  --box-shadow: 0 5px 10px rgba(125, 109, 109, 0.3);
}
@media (max-width: 1000px) {
  .cards {
    margin: 50px 0 !important;
  }
  h1 {
    font-size: 60px !important;
  }
  .hidden-word {
    display: block !important;
  }
}
body {
  color: var(--primary-color);
  font-family: Heebo;
  line-height: 60px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.hero {
  padding: 50px 20px;
}
h1 {
  font-size: 65px !important;
  font-weight: 500 !important;
  color: var(--primary-color);
}
.navigation-link {
  margin-top: 60px;
}
.button {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px;
  border-radius: 4px;
  padding: 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.cards {
  margin: 30px 100px;
}
.cards-bg {
  padding: 10px;
}
.sub-head {
  padding: 10px !important;
}
.work-paragraph {
  padding: 10px;
}
.social-link {
  color: var(--primary-color);
}
.hidden-word {
  display: none;
}
