:root {
  --primary-color: #272044;
  --secondary-color: #edf7fa;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 800px) {
  .cards {
    margin: 50px 0 !important;
  }
  h1 {
    font-size: 60px !important;
  }
}
body {
  color: var(--dark-color, #21243d);
  font-family: Heebo;
  line-height: 60px;
}

.hero {
  padding: 50px 20px;
}
h1 {
  font-size: 65px !important;
  font-weight: 500 !important;
  color: var(--primary-color);
}
.navigation-link {
  margin-top: 60px;
}
.button {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px;
  border-radius: 4px;
  padding: 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.cards {
  margin: 30px 100px;
}
.cards-bg {
  background-color: var(--secondary-color);
  padding: 10px;
}
.sub-head {
  padding: 10px !important;
}
.work-paragraph {
  padding: 10px;
}
